@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Contenu">
    <div class="myclass" draggable="true">Some content</div>
    <div class="myclass" draggable="true">Some content</div>
    <div class="myclass" draggable="true">Some content</div>
    <div class="myclass" draggable="true">Some content</div>
    <div class="myclass" draggable="true">Some content</div>
</div>
