<img src="~/images/Logo.png" alt="ASP.NET" class="img-responsive" />
<h1>Bienvenue,</h1>
<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis feugiat quam. Sed eleifend nec tellus sed porta. Nunc hendrerit laoreet velit, vitae convallis ante. Cras vehicula nunc in odio semper, et placerat ante varius. Maecenas quis elit rutrum, consectetur arcu in, ultricies nisi. Vivamus vel scelerisque lacus. Phasellus ligula arcu, venenatis tristique finibus sit amet, finibus sit amet lectus. Maecenas ultricies libero risus, at efficitur mauris aliquam ut. Cras id consequat diam.

    Duis a volutpat magna, vitae vehicula eros. Mauris non volutpat dolor. Sed sodales ut felis id ornare. Curabitur eget porta eros. Etiam gravida placerat diam, vehicula iaculis augue. Quisque condimentum tincidunt mi, sed imperdiet lacus pulvinar quis. Nullam cursus sed ipsum ac hendrerit. Integer ac neque consequat sem luctus laoreet sit amet finibus ex.

    Cras vehicula nec eros a semper. Aenean vehicula egestas nisl non dignissim. Nam euismod tristique aliquet. Pellentesque sagittis finibus euismod. Morbi non volutpat odio, at ullamcorper sem. Vestibulum et nulla nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue dapibus vulputate.

    Ut a mauris faucibus, fringilla elit at, elementum urna. Sed dui turpis, facilisis sed dictum quis, consequat quis turpis. Ut a semper sapien. Vivamus faucibus eget ante quis dapibus. Vivamus id bibendum ipsum. Sed at purus tincidunt, commodo est eu, consequat ipsum. Nunc dapibus augue quam, non accumsan magna efficitur ac.

    In est dui, vehicula eu massa eget, tincidunt malesuada neque. In hac habitasse platea dictumst. Phasellus rhoncus pretium lectus et interdum. Aliquam lacinia at nisl quis tincidunt. Integer sed justo ultricies, malesuada nisl vitae, dapibus ligula. Donec nec gravida magna. Maecenas quam libero, bibendum eu maximus quis, aliquam commodo lectus. Sed vitae justo at ligula pellentesque tincidunt. Duis sit amet feugiat felis. Donec viverra porta lectus, non blandit nulla fringilla a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis ultricies ornare. Vivamus volutpat tincidunt ex eget tincidunt.
</div>