@page
@model Test.Pages.Accueil.InscriptionModel
@{
    Layout = null;
    ViewData["Title"] = "Inscription";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Test</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/accueil.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/accueil.min.css" asp-append-version="true" />
        </environment>
    </head>

    <body>
        <div class="row">
            <div class="Description col-md-9 no-float">
                <partial name="~/Pages/Accueil/Description.cshtml" />
            </div>
            <div class="clearfix RightSide col-md-3 no-float">
                <!-- Message -->
                <div class="welcome">
                    <h1>Inscription</h1>
                    <h2>Veuillez remplir les champs ci-dessous</h2>
                </div>
                <!-- Nom Prenom -->
                <div class="nameFirstname row justify-content-between" style="display: block">
                    <div class="firstname col-md-6">
                        <input type="text" class="inputText form-control" placeholder="Prénom" aria-label="Prenom" aria-describedby="basic-addon1">
                        <span class="underline"></span>
                    </div>
                    <div class="name col-md-6">
                        <input type="text" class="inputText form-control" placeholder="Nom" aria-label="Nom" aria-describedby="basic-addon1">
                        <span class="underline"></span>
                    </div>
                </div>
                <!-- Nom utilisateur -->
                <div class="textbox input-group mb-3">
                    <input type="text" class="inputText form-control" placeholder="Nom utilisateur" aria-label="Nom utilisateur" aria-describedby="basic-addon1">
                    <span class="underline"></span>
                </div>
                <!-- E-mail -->
                <div class="textbox input-group mb-3">
                    <input type="text" class="inputText form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon1">
                    <span class="underline"></span>
                </div>
                <!-- Confirmation E-mail -->
                <div class="textbox input-group mb-3">
                    <input type="text" class="inputText form-control" placeholder="Confirmation E-mail" aria-label="Confirmation E-mail" aria-describedby="basic-addon1">
                    <span class="underline"></span>
                </div>
                <!-- Mot de passe -->
                <div class="textbox input-group mb-3">
                    <input type="text" class="inputText form-control" placeholder="Mot de passe" aria-label="Mot de passe" aria-describedby="basic-addon1">
                    <span class="underline"></span>
                </div>
                <!-- Confirmation Mot de passe -->
                <div class="textbox input-group mb-3">
                    <input type="text" class="inputText form-control" placeholder="Confirmation mot de passe" aria-label="Confirmation mot de passe" aria-describedby="basic-addon1">
                    <span class="underline"></span>
                </div>
                <!-- Organisme/Privé-->
                <div class="input-group mb-3" style="color: white">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="org btn-choix btn" style="background-color: #2D449A">
                            <input type="radio" name="Organisme" id="Organisme" autocomplete="off" checked> Organisme
                        </label>
                        <label class="pri btn-choix btn" style="background-color: #2D449A">
                            <input type="radio" name="Prive" id="Prive" autocomplete="off"> Privé
                        </label>
                    </div>
                    <input type="text" class="inputText form-control" placeholder="Nom Organisme ou Accompagnant" aria-label="Mot de passe" aria-describedby="basic-addon1">
                    <span class="underline"></span>
                </div>
                <!-- Clé inscription -->
                <div class="textbox input-group mb-3">
                    <input type="text" class="inputText form-control" placeholder="Clé d'inscription" aria-label="Clé d'inscription" aria-describedby="basic-addon1">
                    <span class="underline"></span>
                </div>
            
                <!-- Option -->
                <div class="option row">
                    <div class="checkbox">
                        <input type="checkbox" aria-label="Case à cocher pour l'option suivante">
                        J'accepte les conditions d'utilisation
                    </div>
                </div>
                <!-- Boutton de connexion -->
                <div>
                    <button type="button" class="validationButton btn btn-primary btn-lg btn-block">Inscription</button>
                </div>
                <!-- Lien vers Inscription -->
                <div class="return">
                    <p><a href="./Connection" class="text-white">Déjà membre ? Connectez-vous en cliquant-ici !</a></p>
                </div>
            </div>
        </div>
    </body>
</html>

